<% content_for :title, 'Política de Privacidad' %>
<div>
  <h1 class="title">Política de Privacidad</h1>
  <h4>Póliza de privacidad</h4>
  <p>Disruptive Angels no pasara los detalles de los clientes o visitantes del sitio a terceros. Disruptive Angels tomará todas las precauciones razonables para asegurar que los detalles presentados a través de nuestros formularios web se mantiene segura. Los datos que envíe a Disruptive Angels se mantienen sólo para procesar los pedidos. Usted tiene el derecho de retener información personal a Disruptive Angels, que no se requiera como parte de la transacción.</p>
  <p>Usted puede solicitar una copia de cualquier información que Disruptive Angels pueda tener sobre usted mediante el envío de una carta de solicitud oficial a Disruptive Angels.</p>
  <p>Si usted encuentra cualquier inexactitud, serán eliminados o corregidos inmediatamente por Disruptive Angels a su solicitud. Cualquier información personal que puede tener Disruptive Angels se tendrá de forma segura.</p>
  <p>Disruptive Angels no se comunicará con usted por correo electrónico para notificarle sobre cambios importantes en las funciones del sitio web, nuevos servicios y ofertas especiales que pensamos te puedan interesar, a menos que usted haya dado permiso explícito que Disruptive Angels a hacerlo.</p>
  <p>Usted tiene el derecho de rechazar cualquier e-mail marketing de Disruptive Angels.</p>
  <p>Disruptive Angels monitorea los patrones de tráfico del sitio web y su uso para ayudar a desarrollar el diseño del sito web de Disruptive Angels.</p>
  <p>Disruptive Angels puede utilizar la tecnología para rastrear los patrones y el comportamiento de los visitantes de la página web Disruptive Angels. Esto puede incluir el uso de cookies que se almacenan en su ordenador. Usted puede modificar la configuración del navegador para impedir que esto suceda.</p>
  <p>La información recolectada por Disruptive Angels de esta manera se puede utilizar para identificarle a menos que modifique la configuración del navegador. Si usted tiene alguna pregunta sobre nuestra política de privacidad, nos puede contactar en <a href="mailto:hola@disruptiveangels.com">hola@disruptiveangels.com</a></p>
</div>
