<% content_for :title, 'Check-in' %>
<h2 class="title">Check-in</h2>

<div class="card card-form invitation">
  <div class="card-block">
    <h4 class="card-title"><%= current_event.name %></h4>
    <h6 class="card-subtitle text-muted"><%= current_event.starts_at.strftime("%d de %b del %Y @ %H:%M PM") %></h6>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= attachment_image_tag(current_event, :image, class:"card-img-top img-fluid") %>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-12">
        <%= button_to 'Ya estoy aquí!', event_post_checkin_path, id: 'print_button', remote: true, method: :post, class:"btn btn-success btn-block btn-login" %>
      </div>
    </div>
  </div>
</div>
